body{
    background-color: black;

}
canvas{
    background-color: #2b2727;
    width: 100%;
    object-fit: contain;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}